* {
    background-color: #002E3B;
    color: white;
    font-family: 'Quick-sand', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: #00DC82;
    font-family: 'Quick-sand', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    color: #00DC82;
}
::selection{
    color: #002E3B;
    background-color: #00DC82;
}
.username {
    color: lightblue;
}
.durum {
    color: lightcoral;
}